POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=praktikum
DB_PORT_HOST=5438

DB_HOST=db
DB_PORT=5432
DB_USER=praktikum
DB_PASSWORD=praktikum
DB_NAME=praktikum

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
